<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
  </head>
  
  <body>
  	<div class="container">
  		  	<div class="jumbotron">
	    <h1><%=title %></h1>
	    <h3 class="">Welcome Admin</h3>
  	</div>
  	<div class="row">
  		<div class="col-md-12">
  			<% if (message) { %>
  				<% if (message.error) { %>
    	    		<div class="alert alert-danger">An error occured:<%=message.content %></div>
    	    	<%}else{ %>
    	    		<div class="alert alert-success"><%=message.content %></div>
    	    	<%} %>
    		<%} %>
        <div class="alert alert-success" id="ingredientSuccess" style="display: none;">Ingredient saved <span id="ingredientName"></span></div>
        <div class="alert alert-danger" id="ingredientFail" style="display: none;">Ingredient not saved. Error: <span id="ingredientError"></span></div>
  		</div>
  	</div>
  	<div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <div class="caption">
            <h3> Insert an ingredient</h3>
            <p>Inserts an ingredient with a name of your choice.</p>
            <form action="/ingredients" id="addIngredient">
              <input type="text" name="name" placeholder="Name" />
            <hr>
              <input class="btn btn-primary btn-lg" type="submit" value="Insert"/>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <div class="caption">
            <h3> Insert a Recepie</h3>
            <p>Insert some sample recepies pressing this button. The values are randomly generated from 5 Ingredients in the database.</p>
            <hr>
            <form method="GET" action="/addRandomRecepie">
              <input class="btn btn-primary btn-lg" type="submit" value="Insert"/>
            </form>
          </div>
        </div>
      </div>
  		<div class="col-md-3 col-sm-6">
  			<div class="thumbnail">
  				<div class="caption">
  					<h3> Delete all recepies</h3>
  					<p>You can remove all recepies from this database with one click. Be carefull. Not meant for production ;)</p>
            <hr>
  					<form method="GET" action="/deleteAllRecepies">
		    			<input class="btn btn-warning btn-lg" type="submit" value="Delete"/>
		    		</form>
  				</div>
  			</div>
  		</div>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <div class="caption">
            <h3> Delete all ingredients</h3>
            <p>You can remove all Ingredients from this database with one click. Be carefull. Not meant for production ;)</p>
            <hr>
            <form method="GET" action="/deleteAllIngredients">
              <input class="btn btn-warning btn-lg" type="submit" value="Delete"/>
            </form>
          </div>
        </div>
      </div>
  	</div>
  	</div>
   <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript">
    $( "#addIngredient" ).submit(function( event ) {
     
      // Stop form from submitting normally
      event.preventDefault();
     
      // Get some values from form
      var $form = $( this ),
        ingredientName = $form.find( "input[name='name']" ).val(),
        url = $form.attr( "action" ),
        data = {};
        data.name = ingredientName;
        jQuery.ajax({
          'type': 'POST',
          'url': url,
          'contentType': 'application/json',
          'data': JSON.stringify(data),
          'dataType': 'json',
          'success': function success(msg) {
            if (msg.name) {
                $("#ingredientFail").css("display", "none");
                $("#ingredientSuccess").css("display", "block");
                $("#ingredientName").text(msg.name);
              }else{
                $("#ingredientFail").css("display", "block");
                $("#ingredientSuccess").css("display", "none");
                $("#ingredientError").text($.parseJSON(msg));
              }
          },
          'error': function error(msg) {
              $("#ingredientFail").css("display", "block");
              $("#ingredientSuccess").css("display", "none");
              $("#ingredientError").text(msg.statusText);
          }
      });
    });
    </script>
  </body>
</html>